
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display:grid;
    grid-template-columns: 1fr ;
     
    body {
      line-height: 1.5;
      @media (min-width: 30em) {
        display:grid;
        grid-template-columns: 1fr ;
      }
    }
  }

 
 header {
  
    @media (min-width: 26em) {
      display: flex;
      justify-content: space-between;
    }  
      position:relative;
      align-items: center;
      padding: 20px 20px;
      background-color:#fff;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  

  .logo h1 {
    font-size: 1.5rem;
    color: #2d3c5e;
    .logo span {
      color: #4766a7;
    }
  }
  
  
   .nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    .nav-links a:hover {
      color: #2d3c5e;
    }
    
  }
  
  .nav-links a {
    text-decoration: none;
    color: #7b8496;
    font-size: 1rem;
  }
  
  
  /* .nav-links .button.get-started {
    padding: 10px 20px;
    background-color: #4766a7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  } */
  
  .nav .get-started:hover {
    background-color: #3b5794;
  } 
  
  /* Main Section */
  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .viewer {
      margin-left: auto;
      aspect-ratio: auto 638 / 638; /* dit is de canvas attribute, hierdoor wordt de viewer op de juiste positie gezet*/
    }
  }
  
  .content h1 {
    font-size: 5rem;
    color: #12314D;
  }
  
  .content h2 {
    font-size: 3rem;
    color: #c4a65b; /* Gold color */
    margin-top: 10px;
  }
  
  .buttons { 
    margin-top: 10px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    .button { 
      padding: 20px 40px;
      font-size: 1.5rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease, box-shadow 0.2s ease;
   
    }
  }
  
 
  .buttons .button {
    padding: 20px 40px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  } 


  
  
  .buttons .button.try-free {
    background-color:  #3C8FC2;
    color: #fff;
  }
  
  .buttons .button.try-free:hover {
    background-color: #12314D;
    
  }
  
  .buttons .button.read-docs {
    background-color: #D2E3ED;
    color: #3C8FC2;
  }
  
  .buttons .button.read-docs:hover {
    background-color: #fff;
  }
  
  /* Hierdor maken de buttons een beweging bij het hoveren*/

  .buttons .button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    animation: bounceIn 1s;
  }
  .button{
    margin-top: 5rem;
  }


.viewer {
  zoom: true;
  height: 40vh;
}



/* Animaties BounceIn*/

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to { animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
  20% { transform: scale3d(1.1, 1.1, 1.1); }
  40% { transform: scale3d(0.9, 0.9, 0.9); }
  60% { opacity: 1; transform: scale3d(1.03, 1.03, 1.03); }
  80% { transform: scale3d(0.97, 0.97, 0.97); }
  to { opacity: 1; transform: scale3d(1, 1, 1); }
}
/* .button { animation: bounceIn 2s ; } */
